* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    display: table;
    border-collapse: collapse;
}

.page-content {
    display: table-row-group;
    width: 100%;
}

.left-side-of-page {
    display: table-cell;
    width: 25%;
    vertical-align: top;
}

.center-of-page {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.right-side-of-page {
    display: table-cell;
    width: 25%;
    vertical-align: top;
}

.block {
    padding: 8px;
    text-align: justify;
}

.block1 {
    display: table-row;
    text-align: center;
    background-color: rgb(182, 231, 247);
    width: 100%;
}

.block7 {
    display: table-row;
    width: 100%;
    text-align: center;
    background-color: rgb(182, 231, 247);
}

.block2 {
    background-color: rgb(252, 220, 225);
}

.block3 {
    background-color: rgb(174, 244, 174);
}

.block4 {
    background-color: rgb(252, 220, 225);
    font-style: italic;
}

.block5 {
    background-color: white;
}

.block6 {
    background-color: rgb(174, 244, 174);
}


.inner-block {
    display: table-cell;
}

.title, .slogan {
    display: table-cell;
    width: 50%;
    padding: 5px;
    margin: 8px;
    font-style: italic;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: white;
    min-width: 100px;
}

.menu, .content {
    display: table-cell;
    width: 50%;
}

.block1 ul {
    list-style: none;
    gap: 10%;
    padding: 0;
}

.block1 ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.block1 ul li a:hover {
    color: blue;
}

.block4 img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 4px;
}

.block6 ol {
    list-style-type: symbols(1, 5);
    padding: 10px 20px;
}